@page
@model MinApiCore.Pages.GetParamNumbModel
@{
}
<html>
    <script defer src="/js/GetParamPhone.js"></script>
</html>

<div>
    <label id="PhoneLabel">@Model.Phone</label>
    <input id="StartsInp" />
    <button id="GetPhoneButton">Get</button>
</div>