@page
@model MinApiCore.Pages.GetRandNumbModel
@{
}
<html>
<script src="/js/GetRandPhone.js"></script>
</html>

<div>
    <label id="PhoneLabel">@Model.Phone</label>
    <button id="GetPhoneButton">Get</button>
</div>